@font-face {
  font-family: 'LLPixel';
  src:
    url('/fonts/LLPixel.woff2') format('woff2'),
    url('/fonts/LLPixel.woff') format('woff'),
    url('/fonts/LLPixel.svg#LLPixel') format('svg'),
    url('/fonts/LLPixel.eot?#iefix') format('embedded-opentype'),
    url('/fonts/LLPixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LLPixel';
  src:
    url('/fonts/LLPixel.woff2') format('woff2'),
    url('/fonts/LLPixel.woff') format('woff'),
    url('/fonts/LLPixel.svg#LLPixel') format('svg'),
    url('/fonts/LLPixel.eot?#iefix') format('embedded-opentype'),
    url('/fonts/LLPixel.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
